{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block headTitle %} {% trans from "NeutronUserBundle" %}head_title{% endtrans %} {% endblock %}

{% block headDesc %}
    <h1 class="icon forms">
        {% trans from "NeutronUserBundle" %}header.group_manipulation{% endtrans %}
    </h1>
{% endblock %}

{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header>
		 	    <h2>{% trans from "NeutronUserBundle" %}header.sub_group_manipulation{% endtrans %}</h2>
		 	</header>
		 	
		 	{{ neutron_form(
		 	    form, 
		 	    {'submit_label': 'form.save', 'translation_domain': 'NeutronUserBundle'},
		 	    {
		 	        'cancel': {'label': 'form.cancel', 'style': 'btn action', 'url': path('neutron_user_group_management')}
		 	    }
		 	) }}
     
        </article>	
	</div>
</div>


{% endblock %}