{% extends "NeutronAdminBundle::login.html.twig" %}

{% block fos_user_content %}
<p>{{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}</p>
<br/><p><a href="{{ path('fos_user_security_login') }}" title="{{ 'resetting.request.back_to_login'|trans({}, 'NeutronUserBundle') }}">
{{ 'resetting.request.back_to_login'|trans({}, 'NeutronUserBundle') }}</a></p>
{% endblock fos_user_content %}
