{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block headTitle %}{% trans from "NeutronUserBundle" %}head_title{% endtrans %}{% endblock %}

{% block headDesc %}
    <h1 class="icon tables">
        {% trans from "NeutronUserBundle" %}header.user_management.delete{% endtrans %}
    </h1>
{% endblock %}

{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header>
		 	    <h2>{% trans from "NeutronUserBundle" %}header.sub_user_management.delete{% endtrans %}</h2>
		 	</header>
		 	
		 	{% include 'NeutronUserBundle:Management:delete_content.html.twig' with {'user': user} %}
            
		</article>	
	</div>
</div>
{% endblock %}