<div id="message-enable-users-prototype" style="display:none">
    <div class="msg success">
        <p>{% trans from "NeutronUserBundle" %}management.message.mass_action.enable_users{% endtrans %}</p><a class="close">×</a>
    </div>
</div>

<div id="message-disable-users-prototype" style="display:none">
    <div class="msg success">
        <p>{% trans from "NeutronUserBundle" %}management.message.mass_action.disable_users{% endtrans %}</p><a class="close">×</a>
    </div>
</div>

<div id="message-lock-users-prototype" style="display:none">
    <div class="msg success">
        <p>{% trans from "NeutronUserBundle" %}management.message.mass_action.lock_users{% endtrans %}</p><a class="close">×</a>
    </div>
</div>

<div id="message-unlock-users-prototype" style="display:none">
    <div class="msg success">
        <p>{% trans from "NeutronUserBundle" %}management.message.mass_action.unlock_users{% endtrans %}</p><a class="close">×</a>
    </div>
</div>